# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/
build/
dist/

# Django
*.log
*.pot
*.mo
*.compiled
*.migrations/__pycache__/
local_settings.py
db.sqlite3

# Environments
.env
*.env

# macOS
.DS_Store

# Windows
Thumbs.db

# PyCharm
.idea/

# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Distribution / packaging
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv/
env.bak/

# C extensions
*.so

# Packages

# Django stuff:

# Sphinx documentation
docs/_build/

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

