{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Confirmação de email{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/confirm.css'%}" />
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" id="background" style="height: 100%;">
    <div class="col d-flex d-xl-flex justify-content-center justify-content-xl-center" style="padding-top: 10px; padding-bottom: 10px;">
        <form class="form" action="{% url 'profdevhub:confirmar_email'%}" method="post">
            {% csrf_token %}
            <div class="title">Código de Verificação</div>
            <p class="message">Enviamos um código de verificação para o seu email</p>
            <div class="inputs">
                <input id="input1" name="n1" type="text" maxlength="1" /> <input id="input2" name="n2" type="text" maxlength="1" /> <input id="input3" name="n3" type="text" maxlength="1" />
                <input id="input4" name="n4" type="text" maxlength="1" />
            </div>
            {% if error_message %}
                <li class="errorlist">
                    {{ error_message }}
                </li>
            {% endif %}

            <button class="action" type="submit">Verificar</button>
        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static '../static/js/confirmation.js' %}"></script>
{% endblock %}