{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_title %}{% trans "| Exercício|" %}{{ exercicio.nome }}{% endblock %}

{% block extra_css %}<link rel="stylesheet" href="{% static '../static/css/new_things.css'%}" />{% endblock %}

{% block content %}
<div id = "background" class="container d-flex justify-content-center align-items-center" style="padding: 20px;">
    <div class="form">
        <div class="form__header">
            <span class="form__title">{{ exercicio.nome }}</span>
        </div>
        <div id="form-container">
            <form style="padding: 15px 20px;" action="{% url 'profdevhub:exercicios' exercicio.id %}" method="post">
                {% csrf_token %}
                {% for ques in exercicio.perguntas.all %}
                    <label class="input__label">{{ ques.texto }}</label>
                    <textarea class="input__field_Q" type="text" name="{{ ques.id }}" style="width: 100%;"></textarea>
                {% endfor %}
               <div class="form__footer">
                    <button type="submit" class="button button--primary">{% trans "Submeter" %}</button>
                </div> 
            </form>
        </div>
        
    </div>
</div>
{% endblock %}