{% extends 'base.html' %} 
{% load static %}

{% block extra_title %}| Foruns{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/forum.css'%}" />
{% endblock %}

{% block content %}
{% if messages %}
  <ul class="messages" style="margin-bottom: 0">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="container" id="background">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <header class="text-center my-4">
            <h1>Fóruns de discussão</h1>
            <p class="lead">Este é um centro central para os professores se envolverem em discussões sobre tópicos educacionais, compartilharem ideias e buscarem conselhos.</p>   
        </header>
        <main class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for chats in chat %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ chats.nome }}</h5>
                                <p class="card-text">{{ chats.descricao }}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-end">
                                <a href="{% url 'profdevhub:page_forum' chats.id %}">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M3.5 5.5A.5.5 0 0 1 4 5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9zm1 0v9a.5.5 0 0 0 .5.5h6a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0-.5.5z"></path>
                                            <path fill-rule="evenodd" d="M11.646 3.354a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"></path>
                                            <path fill-rule="evenodd" d="M3.354 3.354a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"></path>
                                        </svg>
                                        Entrar
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>
{% endblock %}