{% extends 'base.html' %}
{% load static %}

{% block extra_title %}|Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/pages.css'%}" />
{% endblock %}

{% block content %}
<div class="container" id="background" style="padding-top: 17px;">
    <header>
        <h1>Welcome!</h1>
        <p>This is your dashboard where you can view your recent activities and recommendations.</p>
    </header>

    <div class="row set_home" style="padding: 20px;">
        <div class="col">
            <div class="card">
                <div class="card-header">Recent Notifications</div>
                <div class="card-body">
                    <p class="card-text">No data</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Current Enrollments</div>
                <div class="card-body">
                    <p class="card-text">No data</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}