{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/pages.css'%}" />
{% endblock %}

{% block content %}
{% if messages %}
  <ul class="messages" style="margin-bottom: 0">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="container" id="background" style="padding-top: 17px;">
    <header>
        <h1>Bem vindo!</h1>
        <p>Este é o seu painel onde você pode visualizar suas atividades e notificações recentes.</p>
    </header>

    <div class="row set_home" style="padding: 20px;">
        <div class="col">
            <div class="card">
                <div class="card-header">Notificações recentes</div>
                <div class="card-body" style="overflow-y: scroll">
                    {% for notif in notificacao %}
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text" style="margin:0">{{ notif.texto }}</p>
                            <a>ok</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Inscrições atuais</div>
                <div class="card-body justify-content-between d-flex">
                    <a href="{% url 'profdevhub:page_courses' curso.id %}">{{ curso.titulo }} </a>
                    <p class="card-text">Media: {{ notas_media }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}