{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/styles.css'%}" />
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center" id="background" style="height: 100%; padding: 0px 66px;">
    <div class="row d-flex justify-content-center align-items-center justify-content-md-between" style="height: 100%; width: 100%; padding: 0; margin: 0;">
        <div class="col-auto text-center d-flex flex-column justify-content-center align-items-center col-grow" style="height: 100%; padding: 29px; width: 46%; max-height: 100%;">
            <p>
                <strong><span style="color: rgb(5, 5, 5);">Membros</span></strong>
            </p>
            <h1 style="font-size: 61px;"><span style="color: rgb(5, 5, 5);">Desenvolva suas habilidades profissionais com ProfDevHub.</span></h1>
            <p>
                Participe de cursos especializados, workshops e webinars projetados para aprimorar suas habilidades docentes. Acesse recursos valiosos e aprenda com outros educadores para enriquecer sua prática profissional.</p>

            <button onclick="url_registro()" class="comic-button">Criar uma conta</button>
        </div>
        <div class="col d-lg-flex align-items-center justify-content-lg-center image-hide" style="height: 100%; width: 100%; margin: 0; padding: 0; max-height: 100%;">
            <img class="img-fluid" src="{% static '../static/img/Sandy_Eco-08_Single-02.png' %}" style="height: initial; width: initial;" width="642" height="642" />
        </div>
    </div>
</div>
{% endblock %}