{% extends 'base.html' %}
{% load static %}

{% block extra_title %}|Workshop & Webinars|{{ workshop.titulo }}{% endblock %}

{% block content %}
<div class="container" style="padding: 20px;">
    <div class="row">
        <div class="col-md-3 col-lg-2 text-center d-md-flex flex-column align-items-md-center" style="padding: 20px; height: 40%;">
            <img
                class="rounded-circle img-fluid d-lg-flex"
                src="https://static.vecteezy.com/system/resources/thumbnails/009/315/010/small/university-teacher-standing-at-the-podium-tribune-in-front-of-blackboard-free-png.png"
                width="106"
                height="124"
                style="margin-bottom: 12px;"
            />
            <h3 class="text-center">{{ workshop.instrutor }}</h3>
            <p class="text-break" style="font-size: 16px; line-height: 19px;">{{ workshop.instrutor.email }}</p>
            <p>{{ workshop.instrutor.detalhes.telemovel }}</p>
            <button class="mainbtn_login setcont_nav">Inscrever</button>
        </div>
        <div class="col-md-7 d-flex flex-column flex-grow-1" style="padding: 20px;">
            <h1>{{ workshop.titulo }}</h1>
            <p class="text-break">{{ workshop.texto }}</p>
            <a href="#">Zoom</a><a href="#" style="margin-top: 6px;">Se quiser ver de novo pode fazer o download do gravação</a>
        </div>
    </div>
</div>
{% endblock %}

