{% extends "base.html"%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/new_things.css'%}" />
{% endblock %}

{% block content %}
<div class="container d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center background" style="padding: 20px;">
    <div class="form">
        <div class="form__header">
            <span class="form__title">New project</span>
        </div>
        <div id="form-container">
            <form style="padding: 15px 20px;">
                <label class="input__label">1.</label>
                <textarea class="input__field_Q" type="text" name="question1" style="width: 100%;"></textarea>
            </form>
        </div>
        <div class="form__footer">
            <button class="button button--primary">Submeter</button>
        </div>
    </div>
</div>
{% endblock %}