{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_title %}{% trans "| Recuperar Password" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/styles.css'%}" />
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" id="background" style="height: 100%; padding: 30px; padding-top: 30px; padding-bottom: 30px;">
    <div class="col-md-12 d-flex flex-column align-items-center" style="height: 0%;">
        <form class="form" action = '{% url 'profdevhub:reset_password2' %}' method="post">
            {% csrf_token %}
            <div class="title">{% trans "Insira a password" %}<br /></div>
            <input type="password" placeholder={% trans "Nova Password" %} name="password" class="input" />
            <input type="password" placeholder={% trans "Re-Password" %} name="re_password" class="input" />
            {{ form.non_field_errors }}
            <button type="submit"  class="button-confirm">{% trans "Seguinte →" %}</button>
        </form>
    </div>
</div>
{% endblock %}