{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block extra_title %}{% trans "| Recursos" %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/pages.css'%}" />
{% endblock %}

{% block content %}
<div class="container" id="background">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <header class="text-center my-4">
            <h1>{% trans "Recursos educacionais" %}</h1>
            <p class="lead">{% trans "Explore uma variedade de recursos educacionais compartilhados por colegas educadores." %}</p>
            <form class="workshop_search" action="{% url 'profdevhub:resources' %}" method="post">
                {% csrf_token %}
                <input type="text" class="form-control search" name="search" placeholder="Search...">
                <button type="submit" class="btn btn-primary" style="width: 100px">{% trans "Procurar" %}</button>
            </form>
        </header>
        <main class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                    
                    {% for recurso in recursos %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ recurso.nome }}</h5>
                                    <p class="card-text">{{ recurso.descricao }}</p>
                                </div>
                                <div class="card-footer d-flex justify-content-between align-items-center">
                                    <div> 
                                        <small class="text-muted">{% trans "Enviado por:" %} {{ recurso.owner }}</small><br>
                                        <small class="text-muted">{% trans "Data:" %} {{ recurso.data_upload }}</small>
                                    </div>
                                    <a style= "margin-right: 2%" href="{{ recurso.arquivo.url }}" download>Download</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

            </div>
        </main>
    </div>
</div>
{% endblock %}
