{% extends 'base.html' %}
{% load static %}

{% block extra_title %}|Workshops & Webinars{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static '../static/css/pages.css'%}" />
{% endblock %}

{% block content %}
<div class="container" id="background">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <header class="text-center my-4">
            <h1>Workshops and Webinars for Educators</h1>
            <p>Explore and enroll in Workshops and Webinars to enhance your teaching skills.</p>
            <form class="row g-3">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <div class="col-md-3">
                    <select class="form-select">
                        <option selected>Category</option>
                        <option value="1">Workshops</option>
                        <option value="2">Webinars</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>

        </header>

        <main class="container">

            <div class="row row-cols-1 row-cols-md-3 g-4">
                
                {% for work in workshop %}
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                {{ work.titulo }}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ work.descricao }}</p>
                                <p class="card-text"><small class="text-muted">Intrutor: {{ work.instrutor }}</small></p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a style= "margin-left:4%" href="{% url 'profdevhub:page_workshops_webinars' work.id %} ">Detalhes</a>
                                <button type="button" class="btn btn-primary" href="{% url 'profdevhub:page_workshops_webinars' work.id %}">Enroll</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>
    </div>
</div>
{% endblock %}